<footer class="page-footer   #b39ddb deep-purple lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Best Airport</h5>
          <p class="grey-text text-lighten-4">Mision TIc</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contacto</h5>
            <i class="large material-icons">email</i>
            <i class="large material-icons">facebook</i>
            <i class="large material-icons">phone</i>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

 